<div class="container">
    <h1>{{ nombre }}</h1>
    <p>{{ correo }}</p>

    <button (click)="showHobbies()">
        {{ mostrar ? 'Ocultar hobbies' : 'Mostrar hobbies' }}
    </button>

    <div *ngIf="mostrar">
        <form (ngSubmit)="newHobbie(hobbieInput)">
            <input type="text" #hobbieInput placeholder="Nuevo hobbie" required>
            <button type="submit">Agregar hobbie</button>
        </form>

        <ul>
            <li *ngFor="let hobby of hobbies">{{ hobby }}</li>
        </ul>
    </div>
    <app-hello-world></app-hello-world>

</div>